body {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #e2d2c7;
}

header {
  /* border: 2px solid yellow; */
  font-family: "Poiret One", cursive;
  font-size: 50px;
  color: #867979;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 1%;
  width: 605px;
}

section {
  border: 2px solid white;
  border: 3px solid #c0a594;
  display: block;
  margin: auto;
  text-align: center;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  height: 615px;
  width: 550px;
  border-radius: 10px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 55px;
  background-color: white;
  opacity: 0.8;
  margin: auto;
  width: 518;
  height: 47px;
  color: #696060;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  /* border: 2px solid blue; */
}

footer {
  /* border: 2px solid blue; */
  font-family: "Abel", sans-serif;
  color: #867979;
  display: block;
  text-align: center;
  width: 300px;
}

.popup-welcome {
  width: 600x;
  height: 400px;
  position: fixed;
  background-color: white;
  opacity: 0.9;
  color: #867979;
  border: 3px solid #c0a594;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
  font-family: "Abel", sans-serif;
}

.popup-end {
  position: fixed;
  background-color: white;
  width: 100% !IMPORTANT;
  max-width: 600px;
  opacity: 0.9;
  color: #867979;
  border: 3px solid #c0a594;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
  font-family: "Abel", sans-serif;
}

.my-game {
  /* border: 2px solid red; */
  display: block;
  margin: auto;
  text-align: center;
  padding-block-start: 15px;
}
